.tagRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    overflow-y: auto;
}

.tagAdder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input {
        padding: 0.5rem;
        font-size: 1rem;
    }

    button {}
}