//Gives tags a clear row and size for mobile
.tagRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 75px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        font-size: 1rem;
    }
}

//Settings for task and tag addition
.adder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input {
        padding: 0.5rem;
        font-size: 1rem;
    }
}

//Gives inserted tags a clear zone to diffrenciate from others
.tagsInserted {
    padding: 0.1rem;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    max-width: 300px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        font-size: 0.7rem;
    }
}