//This will need a better solution. Buggy as fuck

.taskContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: calc(35vh + 50px);
    max-width: calc(40vw + 100px);

    &::-webkit-scrollbar {
        display: none;
    }
}

.sortableTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    min-height: 200px;
    max-width: calc(400px + 5vw);
    border-radius: 5px;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        max-width: 225px;
    }

    &:active {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    button {}
}

.manipulateBar {
    display: flex;
    flex-direction: row;
}

.dragHandle {
    cursor: grab;
    padding: 4px;
    background: #ddd;
    border-bottom: 1px solid #ccc;
    text-align: center;

    &:active {
        cursor: grabbing;
    }
}

@media screen and (min-width: 1200px) {
    .taskContainer {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1750px) {
    .taskContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 2000px) {
    .taskContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}