.task-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(35vh + 50px);
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.task-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.sortableTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    max-width: calc(400px + 5vw);
}

.manipulateBar {
    display: flex;
    flex-direction: row;
}

.drag-handle {
    cursor: grab;
    padding: 4px;
    background: #ddd;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.drag-handle:active {
    cursor: grabbing;
}

@media screen and (min-width: 768px) {
    .task-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .task-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}